{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/register.css' %} ">
<body>
<div class="container1">
    <div class="brand-logo__register"></div>
    <div class="brand-title">1OR1</div>
    <div class="inputs">
      <label>Username</label>
      <input type="text" placeholder="example@test.com" />
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" />
      <label>Password</label>
      <input type="password" placeholder="Min 6 charaters long" />
      <label>Confirm</label>
      <input type="password" placeholder="Confirm Password" />
      <button type="submit">REGISTER</button>
    </div>
    
  </div>

</body>  